.login-form {
	max-width: 90%;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.login-form {
		margin: auto;
		/* margin-top: -10rem; */
	}
}
