body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header
{
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
  z-index: 10;
}

.main-header .logo {
  height: 80px;
  width: auto;
}

/* Styling ant Breadcrumb */
.non-ant-style {
  margin-top: 90px;
}

/* Styling content in the home page */

.spy-shadow {
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
